Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g15, pull requests merged in 2022-11, with the labels that each got.

#65 [feat](video-service/frontend) implement video calling feature
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/video/Controls.js
  frontend/src/components/video/Video.js
  frontend/src/components/video/VideoCall.js
  frontend/src/components/video/settings.js
  frontend/src/configs.js
  video-service/controller/video-controller.js
  video-service/index.js
  video-service/package-lock.json
  video-service/package.json
Labels: frontend, voice-service, p.medium

#67 [feat] (frontend): Add profile page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/codingpage/CodingPage.js
  frontend/src/components/dashboard/CustomAvatar.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/matching/MatchingPage.js
  frontend/src/components/profilepage/AvatarSelectDialog.js
  frontend/src/components/profilepage/ProfilePage.js
  frontend/src/components/profilepage/profilepage.css
  frontend/src/components/signinpage/SignInPage.js
  frontend/src/components/signuppage/SignupPage.js
Labels: frontend

#71 [feat] (frontend) Add history page
  frontend/src/App.js
  frontend/src/components/codingpage/CodePad.js
  frontend/src/components/codingpage/CodingPage.js
  frontend/src/components/dashboard/CustomAvatar.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/historypage/HistoryPage.js
  frontend/src/components/passwordresetpage/PasswordResetPage.js
  frontend/src/components/passwordresetpage/passwordresetpage.css
  frontend/src/components/profilepage/ProfilePage.js
  frontend/src/components/signinpage/SignInPage.js
  frontend/src/components/signuppage/SignupPage.js
  frontend/src/components/signuppage/signuppage.css
Labels: frontend

#69 [Feat] (user-service) (frontend) Implement Profile picture uploading and removal, Account deletion, Password change
  api-gateway/middleware/auth.js
  frontend/src/App.js
  frontend/src/api/user/auth.js
  frontend/src/api/user/user.js
  frontend/src/components/PrivateRoute/PrivateRoute.js
  frontend/src/components/codingpage/BasicTab.js
  frontend/src/components/codingpage/CodePad.js
  frontend/src/components/codingpage/CodingPage.js
  frontend/src/components/codingpage/TabPanel.js
  frontend/src/components/dashboard/CustomAvatar.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/dashboard/dashboard.css
  frontend/src/components/matching/MatchingPage.js
  frontend/src/components/profilepage/AvatarSelectDialog.js
  frontend/src/components/profilepage/ChangePassword.js
  frontend/src/components/profilepage/DeleteAccount.js
  frontend/src/components/profilepage/DeleteSuccessModal.js
  frontend/src/components/profilepage/ProfilePage.js
  frontend/src/components/profilepage/profilepage.css
  frontend/src/components/signinpage/SignInPage.js
  frontend/src/components/signuppage/SignupPage.js
  frontend/src/contexts/UserContext.js
  user-service/controller/user-controller.js
  user-service/index.js
  user-service/model/repository.js
  user-service/model/user-model.js
  user-service/model/user-orm.js
  user-service/package-lock.json
  user-service/package.json
Labels: user-service, frontend

#75 [feat] (frontend) Add link to history page from dashboard
  api-gateway/index.js
  api-gateway/package-lock.json
  api-gateway/package.json
  api-gateway/proxy.js
  frontend/src/components/codingpage/BasicTab.js
  frontend/src/components/codingpage/CodePad.js
  frontend/src/components/codingpage/CodingLanguageSelector.js
  frontend/src/components/codingpage/CodingPage.js
  frontend/src/components/codingpage/TabPanel.js
  frontend/src/components/codingpage/codingpage.css
  frontend/src/components/dashboard/CustomAvatar.js
  frontend/src/components/dashboard/Dashboard.js
  frontend/src/components/historypage/HistoryPage.js
  frontend/src/components/passwordreset/PasswordResetConfirm.js
  frontend/src/components/passwordreset/PasswordResetPage.js
  frontend/src/components/profilepage/AvatarSelectDialog.js
  frontend/src/components/profilepage/ChangePassword.js
  frontend/src/components/profilepage/DeleteAccount.js
  frontend/src/components/profilepage/DeleteAccountDialog.js
  frontend/src/components/profilepage/DeleteSuccessModal.js
  frontend/src/components/profilepage/ProfilePage.js
  frontend/src/components/profilepage/profilepage.css
  frontend/src/components/signinpage/SignInPage.js
  frontend/src/components/signuppage/SignupPage.js
  frontend/src/components/video/Controls.js
  frontend/src/components/video/Video.js
  frontend/src/components/video/VideoCall.js
  matching-service/index.js
  question-service/package-lock.json
  question-service/package.json
  user-service/index.js
  user-service/model/repository.js
Labels: frontend
